<!DOCTYPE html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
<link href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" rel="stylesheet"/>
<link href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" rel="stylesheet"/>
<style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
<style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
<meta content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
<style>
                #map_f4656c643145487a8778d302cd8554ca {
                    position: relative;
                    width: 950.0px;
                    height: 950.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
</head>
<body>
<div class="folium-map" id="map_f4656c643145487a8778d302cd8554ca"></div>
</body>
<script>    
    
            var map_f4656c643145487a8778d302cd8554ca = L.map(
                "map_f4656c643145487a8778d302cd8554ca",
                {
                    center: [59.939095, 30.315856],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a2d8b7ea0c894177a923b7be1217da97 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f4656c643145487a8778d302cd8554ca);
        
    
            var marker_e79fd33e9e164089bcfbedc8c2124e54 = L.marker(
                [59.939095, 30.315868],
                {}
            ).addTo(map_f4656c643145487a8778d302cd8554ca);
        
    
            var icon_5f8a72caa95948dcb1047036ef59cf93 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e79fd33e9e164089bcfbedc8c2124e54.setIcon(icon_5f8a72caa95948dcb1047036ef59cf93);
        
    
        var popup_c7ad84cf7a514a80ac28ae7eaf4539de = L.popup({"maxWidth": "100%"});

        
            var html_6d8e24e2ab28432095b39a59eb4a360f = $(`<div id="html_6d8e24e2ab28432095b39a59eb4a360f" style="width: 100.0%; height: 100.0%;">Метка1</div>`)[0];
            popup_c7ad84cf7a514a80ac28ae7eaf4539de.setContent(html_6d8e24e2ab28432095b39a59eb4a360f);
        

        marker_e79fd33e9e164089bcfbedc8c2124e54.bindPopup(popup_c7ad84cf7a514a80ac28ae7eaf4539de)
        ;

        
    
    
            var marker_e37fee858feb4eecaf9b53b2875fe462 = L.marker(
                [68.969563, 33.07454],
                {}
            ).addTo(map_f4656c643145487a8778d302cd8554ca);
        
    
            var icon_020c759adf3640709d9d2e30414fb950 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_e37fee858feb4eecaf9b53b2875fe462.setIcon(icon_020c759adf3640709d9d2e30414fb950);
        
    
        var popup_d53f9a6d4e3548d3a7cff0774a05bc33 = L.popup({"maxWidth": "100%"});

        
            var html_a4f14e2674cb4899aa25ed97522f4789 = $(`<div id="html_a4f14e2674cb4899aa25ed97522f4789" style="width: 100.0%; height: 100.0%;">Метка2</div>`)[0];
            popup_d53f9a6d4e3548d3a7cff0774a05bc33.setContent(html_a4f14e2674cb4899aa25ed97522f4789);
        

        marker_e37fee858feb4eecaf9b53b2875fe462.bindPopup(popup_d53f9a6d4e3548d3a7cff0774a05bc33)
        ;

        
    
</script>{% block content %}{% endblock %}